.filters {
    border: 2px;
    border-style: solid;
    border-color: #DDD7DC;
    text-align: center;
}

.product {
    text-align: center;
}

@media screen and (min-width: 800px) {
    .filters form {
        display: flex;
        flex-direction: column;
        width: 100%;

    }
/*grid and flex used multiple times for quicker layour constrution*/
    section {
        display: grid;
        grid-template-areas: 
        "f pro";
    }

    form {
        grid-area: f;
    }

    .product {
        display: grid;
        grid-area: pro;
        grid-template-areas: 
        "one two"
        "three four";
    }
/* Class of each product placeholder */
    .item-one {
        grid-area: one;
    }

    .item-two {
        grid-area: two;
    }

    .item-three {
        grid-area: three;
    }

    .item-four {
        grid-area: four;
    }
}